In [8]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
ROOT_DIR = "data"
os.listdir(ROOT_DIR)

['colab_20250222131743_00002.csv']

In [12]:
file_of_interest = os.path.join(ROOT_DIR, os.listdir(ROOT_DIR)[0])
df = pd.read_csv(file_of_interest)
df

,src_addr,dst_addr,sport,dport,src2dst_pkts,dst2src_pkts,src2dst_bytes,dst2src_bytes,start_ts,end_ts,...,src2dst_rtt,dst2src_rtt,num_raw_tcp,num_tls,tls_vers,tls_client_hello_ts,tls_server_hello_ts,num_retransmission,num_outoforder,num_duplicate_ack
0,192.168.1.7,172.253.63.102,54134,443,40750,21943,59357668,1592890,1740248262833482,1740248863153372,...,46116,17465,40495,949,[2],0,0,28,18,41699
1,192.168.1.7,34.144.254.29,54003,443,2369,4673,138924,4030446,1740248262982838,1740248862093546,...,484222,33173,126,4548,[2],0,0,388,58,4539
2,192.168.1.7,34.144.254.29,54004,443,571,573,30858,546659,1740248263579750,1740248862751260,...,9223372036854775808,47515,0,573,[2],0,0,2,0,0
3,192.168.1.7,34.120.37.137,54096,80,2,1,108,54,1740248265067534,1740248265083485,...,9223372036854775808,9223372036854775808,0,0,[],0,0,0,0,0
4,192.168.1.7,43.130.30.247,54137,80,6,5,1063,629,1740248265664828,1740248266116672,...,203192,15065,2,0,[],0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,192.168.1.7,172.253.122.100,54247,443,11,11,5643,3800,1740248806089280,1740248845259325,...,19246,4895731,0,10,[0;2],1740248806114778,1740248806131257,0,0,8
88,192.168.1.7,13.107.246.40,54250,443,13,12,2262,2823,1740248829658809,1740248834519579,...,39063,471331,0,13,[0;2],1740248829687168,1740248829704428,0,0,11
89,192.168.1.7,35.81.43.99,54251,443,14,11,5375,6076,1740248830903627,1740248847146192,...,92279,1429922,2,12,[0;2],1740248830992633,1740248831079296,0,0,9
90,192.168.1.7,142.251.111.113,54254,443,13,18,3907,10491,1740248832389679,1740248832572460,...,33108,17460,6,14,[0;2],1740248832416391,1740248832434600,1,1,16
91,192.168.1.7,172.253.122.103,54259,443,5,7,879,4506,1740248850844622,1740248860972862,...,1691742,18851,2,3,[0;2],1740248850876031,1740248850895697,0,0,3

In [32]:
df.columns

Index(['src_addr', 'dst_addr', 'sport', 'dport', 'src2dst_pkts',
       'dst2src_pkts', 'src2dst_bytes', 'dst2src_bytes', 'start_ts', 'end_ts',
       'num_syn', 'num_ack', 'num_rst', 'num_fin', 'syn_reqs', 'syn_acks',
       'ack_affs', 'handshake_req_ts', 'handshake_comp_ts', 'avg_tput',
       'src2dst_tput', 'dst2src_tput', 'avg_rtt', 'src2dst_rtt', 'dst2src_rtt',
       'num_retransmission', 'num_outoforder', 'num_raw_tcp', 'num_tls',
       'tls_vers', 'tls_client_hello_ts', 'tls_server_hello_ts', 'ip2ports'],
      dtype='object')

In [33]:
df['num_fin'].describe(), df['num_ack'].describe(), df['num_rst'].describe(), df['num_syn'].describe()

(count    220.000000
 mean       1.504545
 std        0.773403
 min        0.000000
 25%        1.000000
 50%        2.000000
 75%        2.000000
 max        3.000000
 Name: num_fin, dtype: float64,
 count     220.000000
 mean       37.209091
 std       167.802945
 min         1.000000
 25%         8.000000
 50%        11.000000
 75%        23.000000
 max      2307.000000
 Name: num_ack, dtype: float64,
 count    220.000000
 mean       0.609091
 std        1.135524
 min        0.000000
 25%        0.000000
 50%        0.000000
 75%        1.000000
 max       13.000000
 Name: num_rst, dtype: float64,
 count    220.000000
 mean       1.750000
 std        0.673199
 min        0.000000
 25%        2.000000
 50%        2.000000
 75%        2.000000
 max        3.000000
 Name: num_syn, dtype: float64)

In [49]:
df['handshake_req_ts'].head(10)

0                   0
1                   0
2                   0
3                   0
4    1743345001281366
5    1743345001613244
6                   0
7                   0
8    1743345012072999
9                   0
Name: handshake_req_ts, dtype: int64

In [50]:
df['syn_reqs'].head(10)

0    0
1    0
2    0
3    0
4    1
5    1
6    0
7    0
8    1
9    0
Name: syn_reqs, dtype: int64

In [44]:
file_of_interest = os.path.join(ROOT_DIR, os.listdir(ROOT_DIR)[4])
df = pd.read_csv(file_of_interest)
df[df['num_tls'] > 0]

Empty DataFrame
Columns: [src_addr, dst_addr, sport, dport, src2dst_pkts, dst2src_pkts, src2dst_bytes, dst2src_bytes, start_ts, end_ts, num_syn, num_ack, num_rst, num_fin, syn_reqs, syn_acks, ack_affs, handshake_req_ts, handshake_comp_ts, avg_tput, src2dst_tput, dst2src_tput, avg_rtt, src2dst_rtt, dst2src_rtt, num_retransmission, num_outoforder, num_raw_tcp, num_tls, tls_vers, tls_client_hello_ts, tls_server_hello_ts, ip2ports]
Index: []

[0 rows x 33 columns]